<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/head.html :: head"></head>

<body>

<nav th:insert="fragments/navbar.html :: nav"></nav>

<div class="container">

  <div class="row mt-3">

    <div class="col-12 d-flex justify-content-center">
      <img src="/images/winMessage.jpg" alt="winMessage" />
    </div>

    <div class="col-12 d-flex justify-content-center mt-4">
      <h1 th:text="'Your score is: ' + ${score}"></h1>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <form th:action="@{/highscores/register}" method="post">
        <button type="submit" class="btn btn-lg btn-primary">Register your score</button>
      </form>
    </div>

  </div>

</div>

</body>
</html>